{% extends 'base.html.twig' %}

{% block title %}KV-Wahl - Impressum{% endblock %}

{% block body %}
    <div class="container pb-5">
        <div class="row">
            <div class="col-12">
                <h1 id="elections" class="h1">Impressum</h1>
                <p class="lead">Angaben gem. § 5 TMG:</p>
                <p>
                    Kollegvertretung der Lernenden (<i>GSV, gemäß §85, SchulG</i>)<br>
                    Treptow-Kolleg Berlin<br>
                    Kiefholzstraße 274<br>
                    12437 Berlin
                </p>
                <p>E-Mail: <a href="mailto:kv@treptow-kolleg.de">kv@treptow-kolleg.de</a></p>
            </div>
        </div>
    </div>
{% endblock %}
