{% extends 'base.html.twig' %}

{% block title %}KV-Wahl{% endblock %}

{% block body %}
    <div class="container pb-5">
        <div class="row row-cols-1 g-3">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <div id="elections" class="fw-bold">Wahlrunden</div>
                    </div>
                    <div class="card-body bg-light-subtle">
                        <p class="card-text">Wahlrunden sind nur noch über spezielle Wahl-Links verfügbar. Wenden Sie sich dazu an die Wahlleitung.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
