{% extends 'base.html.twig' %}

{% block title %}KV-Wahl{% endblock %}

{% block body %}
    <div class="container pb-5">
        <div class="row row-cols-1 g-3">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <div id="elections" class="fw-bold">Wahlrunden</div>
                    </div>
                    <div class="card-body bg-light-subtle">
                        <p class="card-text">Wahlrunden sind nur noch 체ber spezielle Wahl-Links verf체gbar. Wenden Sie sich dazu an die Wahlleitung.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card border-info border">
                    <div class="card-header">
                        <div id="elections" class="fw-bold">Vorschau auf neue Features</div>
                    </div>
                    <div class="card-body bg-light-subtlee">
                        <p class="card-text">Folgende Funktionen werden derzeit implementiert:</p>
                        <ul class="">
                            <li class="">Benutzerrollen (Superuser, Standardbenutzer)<i class="bi bi-check-square-fill ms-2 text-success"></i></li>
                            <li class="">Benutzerverwaltung durch Superuser</li>
                            <li class="">Abstimmungen (ja, nein, enthalten)</li>
                            <li class="">Datums- und Zeitabfragen</li>
                            <li class="">Wahlschein-Export mit QR-Code und Wahlcodes (PDF)<i class="bi bi-check-square-fill ms-2 text-success"></i></li>
                        </ul>
                        <p class="card-text">
                            F체r weitere Funktionsvorschl채ge bitte eine <a href="mailto:service@wagnerpictures.com">E-Mail an die Entwicklung</a> senden.<br>
                            Der Quellcode kann unter <a href="https://github.com/btinet/electphp" target="_blank">https://github.com/btinet/electphp</a> eingesehen werden.
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
