{% extends 'base.html.twig' %}

{% block title %}KV-Wahl 2023/2024{% endblock %}

{% block body %}
    <div class="container pb-5">
        <div class="p-5 mb-4 bg-body-tertiary rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Wahl der Kollegvertretung</h1>
                <p class="col-md-8 fs-4">Wir vertreten gemeinsam unsere schulpolitischen Interessen, einerseits in schulinternen Ausschüssen, Arbeitsgruppen und Gremien. Andererseits aber auch auf Bezirks- und Landesebene.</p>
                <a href="#elections" class="btn btn-primary btn-lg" type="button">Jetzt abstimmen</a>
            </div>
        </div>

        <h2 id="elections" class="mb-3">Wahlrunden am 22.09.2023</h2>
        <div class="list-group">
            {% for election in elections %}
                <a href="#" class="list-group-item list-group-item-action fw-bold">{{ election.label }}</a>
            {% endfor %}
        </div>

    </div>
{% endblock %}
