{% extends 'base.html.twig' %}

{% block title %}KV-Wahl{% endblock %}

{% block body %}
    <div class="container pb-5">
        <div class="row row-cols-1 g-3">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <div id="elections" class="fw-bold">Wahlrunden</div>
                    </div>
                    <div class="list-group list-group-flush">
                        {% for election in elections %}
                            <a href="{{ path('election_show',{'id':election.id}) }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                                <span>{{ election.label }}</span>
                                <i class="bi bi-chevron-right" style="font-size: 1rem"></i>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
