{% extends 'base.html.twig' %}

{% block title %}E-Mail zum Zurücksetzen des Passworts versendet.{% endblock %}

{% block body %}
<div class="container">
    <p>
        Insofern ein Benutzerkonto mit der von Ihnen angegebenen E-Mail-Adresse existiert, erhalten Sie in Kürze eine E-Mail mit dem Link zum Zurücksetzen Ihres Passworts.
        Dieser Link wird ablaufen in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">Nochmal versuchen</a>.</p>
</div>
{% endblock %}
