{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div class="container">
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1 class="h3 mb-4">Passwort zurücksetzen</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div class="mb-3">
            <small>
                Geben Sie Ihre E-Mail-Adresse ein. Wir senden Ihnen einen Link zum
                Zurücksetzen Ihres Passworts zu.
            </small>
        </div>

        <button class="btn btn-primary">Passwort zurücksetzen</button>
    {{ form_end(requestForm) }}
</div>
{% endblock %}
