{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div class="container">
    <h1 class="h3 mb-4">Setzen Sie Ihr Passwort zurück</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary mt-3">Passwort zurücksetzen</button>
    {{ form_end(resetForm) }}
</div>
{% endblock %}
