<form method="post" action="{{ path('crud_election_delete', {'id': election.id}) }}" onsubmit="return confirm('Bist du sicher?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ election.id) }}">
    <button class="btn btn-sm btn-danger">löschen</button>
</form>
