<!doctype html>
<html lang="de">
<head>
    <title>Wahlcodes für {{ election }}</title>
    <link rel="stylesheet" href="https://unpkg.com/gutenberg-css@0.7" media="print">
</head>
<body>
    <h1>{{ election }}</h1>
    {% for code in election.codes %}
        {% if not code.used %}
            <figure>
                <img src="{{ absolute_url('crud_election_create_sw_qr', {'id': election.uuid,'code':code}) }}" width="100%" class="img-fluid" alt="QR-Code">
                <figcaption>{{ code }}</figcaption>
            </figure>
        {% endif %}
    {% endfor %}
</body>
</html>





