{% extends 'base.html.twig' %}

{% block title %}Wahlcodes für die {{ election }}-Wahl{% endblock %}

{% block body %}
<div class="container pb-5">
    <h1>{{ election }}-Wahl</h1>
    <div class="row row-cols-3 g-3">
        {% for code in election.codes %}
            {% if not code.used %}
            <figure>
                <img src="{{ url('crud_election_create_sw_qr', {'id': election.uuid,'code':code}) }}" width="100%" class="img-fluid" alt="QR-Code">
                <figcaption>{{ code }}</figcaption>
            </figure>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
