<form method="post" action="{{ path('admin_person_delete', {'id': person.id}) }}" onsubmit="return confirm('Bist du sicher?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ person.id) }}">
    <button class="btn btn-danger">Löschen</button>
</form>
